.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pointerCursor {
  cursor: pointer;
}

.createDefinitionButton {
  @extend .pointerCursor;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 82px;
  }
}
