.outerContainer {
  display: flex;
  height: 100vh;
}

.sidePanel {
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f4f4f4
}

.sidePanel > :last-child {
  margin-top: auto;
}

.outletContainer {
  padding: 10px;
  flex: 1;
  max-height: 100vh;
  overflow-y: scroll;
}
