# Ingore the IDE folder
.idea

# Ignore most of the docker directory contents
/docker/mongo-data
/docker/mosquitto-data
/docker/mosquitto-log
/docker/postgres-data

# Ignore some front-end directories
frontend-old/dist/
frontend-old/.parcel-cache/
frontend-old/node_modules

frontend/.DS_Store
frontend/*.local
frontend/.vscode/*
frontend/node_modules
frontend/.env

frontend/codegen.yml
frontend/src/generated/graphql.tsx

# Ignore backend executables
backend/bin
