# Ingore the IDE folder
.idea

# Ignore most of the docker directory contents
/docker/mongo-data
/docker/mosquitto-data
/docker/mosquitto-log
/docker/postgres-data

# Ignore some front-end directories
parcel-react-frontend/dist/
parcel-react-frontend/.parcel-cache/
parcel-react-frontend/node_modules
