# Ingore the IDE folder
.idea

# Ignore most of the docker directory contents
/docker/mongo-data
/docker/mosquitto-data
/docker/mosquitto-log
/docker/postgres-data

# Ignore some front-end directories
frontend/dist/
frontend/.parcel-cache/
frontend/node_modules

# Ignore backend executables
backend/bin
