.standardContentPage {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    align-self: center;
  }

  h2 {
    margin: 5px 0;
  }

  h3 {
    margin: 3px 0;
  }
}

.statusBar {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
