.parameterElements {
  display: flex;
  gap: 10px;
}

.parameterElement {
  padding: 5px 15px;
  border-radius: 5px;
  background: #dcdcdc;
}

.deleteButton {
  cursor: pointer;
}

.deleteButtonDisabled {
  color: darkgray;
  cursor: default;
}
