.widget {
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  background: #eaeaea;
}

.parameterElements {
  display: flex;
  gap: 10px;
}

.parameterElement {
  padding: 5px 15px;
  border-radius: 5px;
  background: #dcdcdc;
}

.upperRow {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.upperRow > :last-child {
  margin-left: auto;
}

.deleteButton {
  cursor: pointer;
}

.deleteButtonDisabled {
  color: darkgray;
  cursor: default;
}
