.kpiUserIdentifierSection {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 40px;

  p {
    font-size: 40px;
    margin: 0;
  }
}

.kpiSDTypeSpecificationSection {
  margin-top: -30px;
  padding-top: 10px;
  display: flex;
  gap: 20px;
  align-items: center;

  p {
    font-size: 32px;
    margin: 0;
  }
}
