.customNodeLinkStyle {
  color: #5d5d5d;
  stroke: #5d5d5d !important;
  stroke-width: 2px !important;
}

.treeWrapper {
  border-width: 2px;
  border-color: #8f8f8f;
  border-style: solid;
  width: 100%;
  height: 600px;
}
