.customNodeLinkStyle {
  color: #929fb0;
  stroke: #929fb0 !important;
  stroke-width: 2px !important;
}

.treeWrapper {
  border-width: 2px;
  border-color: #8f8f8f;
  border-style: solid;
  width: 100%;
  height: 800px;
}
