.editableTreeNodeBase {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f5f7;
  border-radius: 20px;
  border-style: solid;
  border-color: #5d5d5d;

  p {
    font-family: 'Noto Sans Math', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
